.header__lang-link {
    display: block;
    float: left;
    color: white;
    margin-right: 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

.header__lang-link:last-child{
    margin-right: 0;
}

.header__lang-link:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}
