.place__title {
    grid-area: place__title;
    font-size: 72px;
    line-height: 106%;
    font-weight: 900;
    width: 460px;
    margin: 0;
    display:table-cell;
    vertical-align: bottom;
}

@media screen and (max-width: 1024px)  {
    .place__title {
        width: 440px;
    }
}

@media screen and (max-width: 768px)  {
    .place__title {
        width: 330px;
        font-size: 42px;
        line-height: 110%;
        font-weight: 900;
        margin: 0;
    }
}

@media screen and (max-width: 395px)  {
    .place__title {
        margin: 0 16px;
    }
}

@media screen and (max-width: 370px)  {
    .place__title {
        width: calc(100% - 32px);
        font-size: 32px;
        line-height: 109%;
        font-weight: 900;
        margin: 0 16px 0 0;
    }
}
