.photo-grid {
    margin: 92px 48px 0 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-template-rows: repeat(auto-fill, 213px);
    grid-gap: 16px;
    justify-content: center;
}

@media screen and (min-width: 1281px)  {
    .photo-grid {
        grid-template-columns: repeat(4, 284px);
        grid-template-rows: repeat(3, 213px);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 1024px)  {
    .photo-grid {
        grid-gap: 14px;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: repeat(auto-fill, 225px);
    }
}



@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 88px 24px 0 24px;
        grid-template-columns: repeat(auto-fill, 352px);
        grid-template-rows: repeat(auto-fill, 264px);
        gap: 16px;
    }
}

@media screen and (max-width: 355px) {
    .photo-grid {
        margin: 64px 16px 0 16px;
        grid-template-columns: repeat(auto-fill, 288px);
        grid-template-rows: repeat(auto-fill, 216px);
        gap: 16px;
    }
}
