.cover__title {
    text-align: center;
    font-size: 72px;
    line-height: 106%;
    font-weight: 900;
    position: absolute;
    z-index: 20;
    width: 560px;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        top: 30.32%;
    }
}

@media screen and (max-width: 780px) {
    .cover__title {
        top: 23.5%;
    }
}


@media screen and (max-width: 580px) {
    .cover__title {
        width: 255px;
        font-size: 32px;
        line-height: 109%;
        top: 33px;
    }
}