.cover__title {
  padding: 0;
  color: #fff;
  position: relative;
  top: 245px;
  z-index: 50;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 552px;
  text-decoration: none;
  margin: 0 auto;
}

@media screen and (max-width: 1184px) {
  .cover__title {
    top: 170px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    top: 195px;
  }
}

@media screen and (max-width: 800px) {
  .cover__title {
    top: 115px;
  }
}

@media screen and (max-width: 625px) {
  .cover__title {
    max-width: 245px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 450px) {
  .cover__title {
    top: 33px;
  }
}

