.place {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 460px minmax(20px, 484px);
    grid-template-rows: auto minmax(50px, 460px);
    grid-gap: 48px 40px;
    grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
    margin: 80px 0 0 0;
}

.place:first-child {
    margin: 0;
}
.place:last-child {
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-template-rows: auto minmax(50px, auto);
        grid-gap: 48px 32px;
    }
}



@media screen and (max-width: 770px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: 92px minmax(50px, auto);
        grid-gap: 48px 28px;
    }
    .place:last-child {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 664px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        gap: 32px;
    }
}


@media screen and (max-width: 320px) {
    .place {
        margin: 64px 0;
    }
    .place:last-child {
        margin-bottom: 66px;
    }
}